.filter-container {
    background-color: rgb(219, 219, 219);

}




.statistics {
    row-gap: 15px;
    column-gap: 10px;
}

.blue-box {
    p {
        color: black;
        font-size: 13px;
    }
}

.color-change {
    background-color: #94d1ff;
    color: rgb(64, 53, 53);
}

.banner-header {
    all: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;

    p {
        font-weight: 600;
        padding-left: 10px;
    }
}

@media screen and (max-width: 425px) {
    .filter-container {
        .filter-box {
            .setup-item {
                width: 100%;

                .react-select-container {
                    text-align: left;
                }
            }
        }
    }

    .statistics {
        padding-top: 10px;

        .box {
            width: 40%;
            padding-top: 20px;
            padding-bottom: 20px;

            p {
                font-size: 14px;
            }
        }
    }
}