.title-name-tag {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    border-radius: 10px;
    padding: 30px;
    padding-left: 25px;
    box-shadow: 0 0 5px 1px rgb(234, 234, 234);

    .title-tag {
        font-size: 13px;
    }

    .name-tag {
        display: flex;
        border-radius: 12px;
        align-items: center;
        margin-top: 5px;
        font-size: 16px;
        word-wrap: break-word;
        min-height: 40px;
    }
}