.title-name-tag {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    border-radius: 10px;

    .title-tag {
        font-size: 13px;
    }

    .name-tag {
        display: flex;
        border-radius: 12px;
        align-items: center;
        margin-top: 5px;
        font-size: 25px;
        word-wrap: break-word;
        min-height: 40px;
    }
}