@use '../../abstracts/variables';

.dash-container{
    margin-left: variables.$slidebar-width;
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    background-color: #f5f8fa;
}

// Banner-Box

.welcome-banner{
    height: auto;
    background-color: #9fcdec;
    border-radius: 20px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    padding:2rem;
}
.white-container{
    height: auto;
    position: relative;
    background-color: white;
    margin-top: 30px;
    border-radius:20px ;
    padding: 20px;
    overflow:hidden;
}
.banner-container{
    position: relative;
    padding-top: 10px;
    .welcome-image-container{
        width: 50%;
        height: 100%;
        display: flex;
        position: relative;
        padding: 30px;
        img{
            height: 15rem;
            position: absolute;
            bottom: -2.3rem;
            right: -20px;
            transition: height 0.3s ease-out;
        }
        h1{
            text-align: right;
            transition: 0.3s ease-out;
        }
        h3{
            text-align: right;
            margin-top: 20px;
            font-weight: 500;
        }
    }
}
.box{
    border-radius: 12px;
    padding: 5% 10%;
    max-width:max-content;
    color: white;
    text-align: center;
    height:max-content;
    h3{
        font-size: 30px;
    }
}
.blue-box{
    background-color: #59b3fa;
}
.light-blue-box{
    background-color: #dceaf5;
    color: black;
}
.statistics{
    width: 50%;
    display: flex;
    justify-content: space-evenly ;
    gap: 20px;
}












@media only screen and (max-width: 1200px){
    .dash-container{
        margin: 0;
    }
}