.mid-box .medium-box, .button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f8fe;
    color: #364f87;
    width: 100%;
    border-radius: 8px;
    gap: 10px;
    padding:10px 0px;
    font-family: 'Inter', Helvetica;
}
.mid-box .button{
    background-color: #006cff;
    color: #efefef;
}
.mid-box .edit{
    position: absolute;
    top: -8px;
    right: 0px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;

}
.mid-box .edit img{
    width: 10px;
    height: 10px;
}
.mid-box .medium-box .title{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
}
.mid-box .medium-box .content{
    font-size: 15px;
    text-align: center;
}
@media screen and (max-width: 375px) {
    .mid-box .layer3 .medium-box {
        width: 110px;
    }
    .mid-box .medium-box .title{
        font-size:8px;
    }
    .mid-box .medium-box .content{
        font-size: 10px;
    }
    .mid-box .edit{
        width: 8px;
        height: 8px;
    }
}