.campus-modal .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.campus-modal .modal {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color:#efefef;
    border-radius: 10px;
    padding: 30px;
}
.campus-modal .modal-buttons{
    margin-top: 16px;
    display: flex;
    flex:1 1 auto; 
    justify-content: center;
    gap: 10px;
    
}
