.table-wrap {

    .btn-wrap {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        .table-btn {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            background-color: black;
            width: fit-content;
            color: white;
            padding: 10px;
            font-size: 12.5px;
            border-radius: 10px;
            cursor: pointer;
            margin: 5px 0;
        }

        .grid {
            i {
                font-size: 16px;
            }
        }
    }

    .wrapper-table {
        overflow-x: auto;
        border-radius: 10px;
        padding-bottom: 15px;
    }

}

.table-wrap {
    .wrapper-table {
        .sortList {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            gap: 10px;
            justify-content: flex-end;

            .sort-btns {
                cursor: pointer;
                display: inline-block;
                background-color: white;
                color: black;
                padding: 5px 10px;
                box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.245);
                border-radius: 6px;
                font-size: 12px;

                i {
                    font-size: 10px;
                    padding-right: 8px;
                }
            }

            .selected {
                background-color: #59b3fa;
            }

        }

        .box-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            flex-wrap: wrap;
            gap: 10px;
            padding: 10px;

            .boxed {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;
                font-size: 10px;
                border-radius: 10px;
                gap: 10px;

                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);

                .boxed-data {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px;

                    .data {
                        padding: 10px 15px 10px 15px;
                        border-radius: 9px;
                        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.082);
                        min-height: 50px;
                    }
                }



                .heading {
                    font-size: 11px;
                    font-weight: 600;
                }

                .boxed-heading {
                    p {
                        text-align: center;
                        font-weight: 600;
                    }
                }

                p {
                    text-emphasis: bold;
                    padding-top: 5px;
                    font-weight: 500;
                    font-size: 13px;
                }

                .manage {
                    display: flex;
                    width: fit-content;
                    align-self: flex-end;

                    .edit-btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        background-color: #100f0f;
                        color: #fff;
                        gap: 5px;
                        padding: 5px;
                    }
                }
            }

            @media screen and (max-width: 560px) {
                display: grid;
                grid-template-columns: repeat(1, 1fr);

                p {
                    font-weight: 200;
                }
            }

        }
    }
}

table {
    border-spacing: 10px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;

    thead {

        tr {
            text-align: left;

            .cursor {
                cursor: pointer !important;

                &:hover {
                    i {
                        color: #59b3fa;
                    }
                }
            }

            .filter {
                cursor: pointer !important;
            }

            .selected {
                color: #59b3fa;
            }

            th {
                font-size: 12px;
                user-select: none;
                border-bottom: 1px solid #100f0f61;

                .th-mid {
                    text-align: center;
                }



                .th-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    i {
                        padding-right: 5px;
                    }
                }

                .end {
                    padding-right: 8px;
                    justify-content: flex-end;
                }
            }
        }
    }

    tbody {


        tr {
            td {
                vertical-align: top;
                font-size: small;

                .edit-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #100f0f;
                    color: white;
                    border-radius: 5px;
                    width: 50px;
                    padding: 5px;
                    font-size: 12px;
                    gap: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #2d353d;
                    }
                }

                .manage {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }
            }


        }
    }


}

.no-data {
    width: 100%;
    display: flex;
    height: 150px;
    font-size: 30px;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
}


.paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .count-in-page {
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }
    }

    div {
        display: flex;
        gap: 0 5px;

        div {
            cursor: pointer;
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        i {
            height: 20px;
            display: flex;
            color: white;
            align-items: center;
            background-color: rgb(80, 75, 75);
            padding: 0 15px;
            border-radius: 10px;
            font-size: 13px;

        }

        .input {
            all: unset;
            display: flex;
            user-select: none;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            padding: 5px;
            font-size: small;
            margin: 0;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.2);
            width: 75px;

            &:hover {
                cursor: default;
            }
        }
    }

    @media screen and (max-width: 560px) {
        gap: 20px;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}