.table-wrap {
    overflow-x: auto;
    // box-shadow: 0px 0px 2px 2px #100f0f42;
    border-radius: 10px;
    padding: 15px;
    padding-top: 0;

}

table {
    border-spacing: 10px;
    width: 100%;
    padding-bottom: 10px;

    thead {

        tr {
            text-align: left;

            .cursor {
                cursor: pointer !important;

                &:hover {
                    i {
                        color: #59b3fa;
                    }
                }
            }

            .filter {
                cursor: pointer !important;
            }

            .selected {
                color: #59b3fa;
            }

            th {
                font-size: 12px;
                user-select: none;
                border-bottom: 1px solid #100f0f61;

                .th-mid {
                    text-align: center;
                }



                .th-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    i {
                        padding-right: 5px;
                    }
                }

                .end {
                    padding-right: 8px;
                    justify-content: flex-end;
                }
            }
        }
    }

    tbody {


        tr {
            td {
                vertical-align: top;
                font-size: small;

                .edit-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #100f0f;
                    color: white;
                    border-radius: 5px;
                    width: 50px;
                    padding: 5px;
                    font-size: 12px;
                    gap: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #2d353d;
                    }
                }

                .manage {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }
            }


        }
    }


}

.no-data {
    width: 100%;
    display: flex;
    height: 150px;
    font-size: 30px;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
}


.paginator {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    div {
        display: flex;
        gap: 0 15px;

        div {
            cursor: pointer;
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        i {
            height: 20px;
            display: flex;
            color: white;
            align-items: center;
            background-color: rgb(80, 75, 75);
            padding: 0 15px;
            border-radius: 10px;
            font-size: 10px;

        }

        .input {
            display: flex;
            user-select: none;
            align-items: center;
            border-radius: 10px;
            padding: 5px;
            font-size: small;
            margin: 0;
            text-align: center;
            width: 50px;
            border: 1px solid rgba(0, 0, 0, 0.2);

            &:hover {
                cursor: default;
            }
        }

    }
}