@use '../../../../abstracts/colors.scss';
@use '../../../../abstracts/variables.scss';
$height-top-bar:2rem;
$top-bar-left-padding:15px;
$theme-color-light-blue : #dceaf5;

.name-card {
    position: absolute;
    top: 0;
    z-index: 2000;
    width: calc(100% - variables.$slidebar-width);
    padding: variables.$dashboard-padding;
    right: 0;
    display: flex;
    padding: 10px $top-bar-left-padding;
    justify-content: flex-end;
    align-items: center;
    max-height: $height-top-bar;

    @media screen and (max-width:1024px) {
        position: absolute;
        width: calc(100% - 30px - 30px);
    }

    .open-color {
        padding: 10px 15px;
    }
}




.open {
    position: fixed;
    border-radius: 12px 0 12px 12px;
    background-color: $theme-color-light-blue;
    right: calc($top-bar-left-padding);
    top: calc($height-top-bar + 10px);
    z-index: 2000;
    padding: 20px;
    user-select: none;

    h1 {
        text-align: left;
        font-size: 16px;
    }

    h2 {
        text-align: left;
        font-size: 10px;
    }
}

@media screen and (max-width:500px) {
    .name-card {
        position: relative;
        left: 15px;
    }
}