@use '../../abstracts/functions';
@use '../../abstracts/colors';
@use '../../abstracts/variables';

.left-menu{
    max-width: variables.$slidebar-width;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 150;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    img{
        width:60%;
        padding: 20px 0;
    }
    .logout{
        position: absolute;
        bottom: 40px;
    }
}
.menu-items{
    @include functions.flex-center();
    flex-direction: column;
    width: 100%;
}
.menu-item-container{
    @include functions.flex-center();
    width: 100%;
    &:hover{
        background-color: aliceblue;
    }
}
.link-item{
    width: 100%;
    display: flex;
    justify-content: center;
    h5{
        margin-left: 10px;
        font-size: 15px;
    }
}
.menu-item{
    display: flex;
    align-items: center;
    width: 70% ;
    margin: 6px;
    a{
        padding-left: 20px;
        font-size: 16px;
        font-weight: 700;
    }
}
.menu-icon{
    @include functions.flex-center();
    width: 40px;
    height: 40px;
    border-radius: 10px;
    transition: transform 0.3s ease-in;
}
.active{
    background-color: colors.$theme-color-blue !important; 
}
.tab-text{
    display: none;
    font-size: 13px;
    margin-left: 4px;
    font-weight: 600;
}

.logout{
    @include functions.btn();
    color: white !important;
    background-color:red;
}
@media only screen and (min-width:425px){
  .visible{
    display: block !important;
}
}


@media only screen and (max-width: 1024px){
    .left-menu{
        display: none;
    }
}