@use '../../../../abstracts/colors.scss';


.alert-container {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    bottom: 0;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(50px);

    .alert-sub-container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        padding: 10px;
        font-size: 1rem;
        gap: 5px;
        align-items: center;

    }

    .error {
        color: red;
        background-color: white;
        box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.5);
    }

    .success {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 10px 5px rgba(0, 255, 0, 0.5);
    }
}