.white-container{
    max-width: 1055px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.container-table{
    margin-bottom: 25px;

}
.react-select-container{
    width: 200px;
}
@media screen and (max-width:770px){
    .white-container{
        max-width: 100%;
        overflow-x: scroll;
    } 
}



#delete {
    color: white;
    background-color: red !important;
    padding: 3px 12px;
    border-radius: 5px;

}
.value{
    font-size: 13px;
}
.table-content {
    width: 100%;
    height: 24rem;
    overflow-y: scroll;
    .value {
        min-width: max-content;
        padding: 14px 0;
        padding-right: 10px;
        font-weight: 500;
        font-size: 12px;
        gap: 10px;
        display: flex;
    }
    .name{
        display: flex;
        flex-wrap: wrap;
        width: 190px;
        min-width: min-content;

    }
    .status{
        width: 200px;
    }
}

.table-top {
    display: flex;
    justify-content: space-between;
}

.table-fn {
    display: flex;
    gap: 10px;
    .search-box{
        display: flex;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        border: 0.1px solid rgba(0, 0, 0, 0.15);
        
        padding:2.5px 10px;
        .search-bar{
            all: unset;
            font-size: 12px;
            
        }
        .fa-close{
            cursor: pointer;
            color: #cbcbcb;
            &:hover{
                color: rgba(0, 0, 0, 0.697);
            }
        }
    }
    .table-fn-btn {
        width: max-content;
        display: flex;
        align-items: center;
        background-color: rgb(24, 25, 25);
        padding: 1px 10px;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        
        &:hover {
            background-color: rgb(41, 43, 43);
        }
    
        p {
            margin-left: 6px;
            font-size: 12px;
        }
    }
    
}

.name-table-tab{
    max-width: 00px;
}
.filter-container {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
    background-color:#373e42;   
    border-radius: 10px;
    padding: 8px;  

    .filter-box {
        display: flex;
        gap: 10px;
    }
    .filter-box.show {
        max-height: 200px;
    }
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal{
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        
        font-size: 12px;
        .heading{
            display: flex;
            color: #333333;
            align-items: center;

            justify-content: space-between;
            font-size: 20px;
            .title{
                font-weight: 600;
            }
            .close-btn{
                color: #929292;
                padding-left: 130px;
                &:active{
                    color: rgb(27, 27, 27);
                }
            }
            @media screen and (max-width:450px){
        .close-btn{
            padding-left: 30px;
        }                
            }
        }
        .secondary-box{
            color: #535353;
            padding:30px 0;
            .data-box{
                padding:2.5px 0 ;
                .react-select-container{
                    width: 100%;
                }
                    .title{
                        font-size: 12px;
                        color: #3f3f3f;
                        font-weight: 600;
                    }
                    .content{
                        padding:5px 0;
                        border-radius:5px;
                        font-size: 0.7rem;
                        font-weight: 400;
                    }
            }
            .btn-update{
                padding: 10px;
                text-align: center;
                border-radius: 15px;
                cursor: pointer;
                color: white;   
                background-color: #00aefe;
    
            }
            .btn-disabled{
                user-select: none;
                padding: 10px;
                text-align: center;
                border-radius: 15px;
                color: rgba(0, 0, 0, 0.514);
                background-color: rgba(0, 0, 0, 0.25);
            }
            .modal-buttons{
                display: flex;
                padding:10px 0;
                justify-content: space-between;
                gap: 10px;
                 button {
                background: #00aefe;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 15px;
                width: 100%;
                cursor: pointer;
    
              }
              .confirm-delete{
                background-color: red;
                }
            }
            .last-container{
                p{
                    text-align: center;
                    font-size: 14px;
                    padding: 10px;
                    color: red;
                }
                .delete-btn{
                    background-color: rgb(255, 136, 136);
                }
            }
        }
    }
    
  }
  
  
  table{
    margin:20px 0;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    border-radius: 10px;
    overflow-x: auto;
    .no-data-table{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: large;
    }
    tr{
        &:hover{
            cursor: pointer;
            user-select: none;
            border-radius: 20px;
        }
        .header{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .color{
                color: rgb(0, 102, 255);
            }
        }
        th{
                // border-left:1px solid rgba(0, 0, 0, 0.2) ;
                border-bottom:1px solid rgba(0, 0, 0, 0.1) ; 
               &:hover{
                color: rgb(0, 102, 255);
               }
               &:first-child,&:last-child:hover{
                   color: black;
                   cursor:default;
               }
        }
        
        
        td,th{
            padding: 3px 5px;
            text-align: left;
            word-wrap: break-word;
            
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #100f0f;
                color: white;
                border-radius: 5px;
                width: 50px;
                padding: 5px;
                gap: 5px;
                cursor: pointer;
                &:hover{
                    background-color: #007db7;  
                }
            }
        }
    }
    

    .status{
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 10px;
        color: white;
        background-color: #0bd815;
        border-radius: 15px; 
        width: 130px;
        user-select: none;
    }
    .stat{
        text-align: center;
        width: 130px;
        
    }
   
  }
  .no-data-table{
    text-align: center;  
    width: 100%;
    font-size: 15px;

}
  .paginator{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div{
        display: flex;
        gap:0 15px;
        div{
            cursor: pointer;
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        i{
            height: 20px;
            display: flex;
            align-items: center;
            background-color: rgb(86, 159, 255);
            padding:0 15px ;
            border-radius: 10px;
            font-size: 10px;
            
        }
        input{
            display: flex;
            align-items: center;
            margin: 0;
            text-align: center; 
            width: 50px;
            border: 1px solid rgba(153, 153, 153, 0.368);

            &:focus{
                border: 1px solid rgb(0, 0, 0);
            }
        }
        
    }
  }

