@use '../../abstracts/functions.scss';
// Table TOP
.table-top{
    display: flex;
    flex-direction: column;
    .table-fn{
        display: flex;
        gap:8px;
        justify-content: flex-end;
        .table-fn-btn{
            background-color: black;
            color: white;
            border-radius: 10px;
            padding: 0px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 14px;
        }
        @media screen and (max-width: 560px) {
            justify-content: flex-end;
            flex-wrap: wrap;

            .table-fn-btn{
                padding: 10px;
                font-size: 16px;
                width: fit-content;
            }
        }
        .show-in-500{
            display: none;
            @media screen and (max-width: 500px) {
                    display: flex;
            }
        }
        .search-bar{
            display: flex;
            padding:0px 5px;   
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            align-items: center;
            justify-content: space-between;
            input{
                margin: 0;
                border: none;
            }
            li{
                padding-right:10px ;
                color:rgba(0, 0, 0, 0.25);
                &:active{
                    color: #000;
                }
            } 
        }
    }   
    .table-header{
        display: flex;
        justify-content: space-between;
        .table-header-btn{
            display: none;
            @media screen and (max-width: 768px) {
                display: flex;
                .table-fn{
                    display: none;
                }
            }
        }
    }

    @media screen and (min-width: 769px) {
        flex-direction: row;
        justify-content: space-between;
    }    
}

// Table Filters

.filter-container{
    display: flex;
    margin:5px 0;
    background-color:#373e42;   
    border-radius: 10px;
    padding: 8px;
    align-items: center;
    .filter-box{
        display: flex;
        width: 100%;
        gap: 10px;
        .setup-item{
            margin: 0;
            width: 30%; 
        }
        @media screen and (max-width: 768px) {        
            flex-wrap: wrap;
            .setup-item{
                width: 100%;
            }
        }  
        .table-white-btn{
            width: fit-content;
            height: fit-content;
            display: flex;
            align-items: center;
            background-color: white;
            padding:5px 10px;
            border-radius: 6px;
            cursor: pointer;
            user-select: none;
            p {
                margin-left: 6px;
                width: 45px;
                font-size: 9px;
            }
        }
    }
}

// Table 

