.campus-title{
    display: flex;
    padding:10px ;
    margin:10px 0 ;
    border-radius: 10px;
    padding-left: 30px;
    background-color: #f2f8fe;
    width: calc(100% - 2*15px -10px);
    font-size: 25px;
    word-wrap:break-word;
}
.white-container{
    display: flex;
    flex-direction: column;
    gap:10px 0;
}