:root {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
}
a,a:visited{
  text-decoration: none;
  color: black;
}
ol,ul,li{
  list-style-type: none;
}
select{
  background-color: transparent;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid gray;
}
select:focus{
  outline:none;
  border: 2px solid #FB6962;
}
input{
  border-radius: 12px;
  padding: 12px;
  border: 1px solid #333;
  margin-bottom: 12px;
}
input:focus{
  outline:none;
  border: 2px solid #FB6962;
}
@media screen and (max-width: 425px) {
  body{
      margin-bottom: 150px;
  }
} 