.error-message{
	color: red;
}

.inputBoxInner {
	display: flex;
	flex-direction: column;
}

@media (min-width: 1000px) {
	.reactSelect {
		width: 26vw!important;
	}
}

.reactSelect {
	width: 40vw;
}

.white-container {
	background-color: #fff;
	padding: 20px;
}

.formikContainer {
	margin-bottom: 20px;
}

.reactInputContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.inputBoxOuter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* Adjust the width as needed */
	margin-bottom: 10px;
}	

@media only screen and (max-width: 768px) {
	.inputBoxOuter {
		display: inline;
		/* Adjust the width as needed */
		margin-bottom: 10px;
	}
	.reactSelect {
		width: 100%;
	}
}