@use '../../abstracts/functions';
.tab-nav{
    width: 100%;
    position: fixed;
    background: rgb(233,235,241);
    background: linear-gradient(0deg, rgba(233,235,241,1) 52%, rgba(162,75,153,0) 100%); 
    z-index: 1;
    margin: auto;
    left: 0;
    bottom: 0;
}
.tab-nav-container{
    background-color: rgb(250, 250, 250);
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    padding: 15px;
    justify-content: space-around;
    width:40%;
    z-index: 2;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .tab{
    @include functions.flex-center;
    background-color: rgb(226, 226, 226);
    border-radius: 50px;
    cursor: pointer;
    padding: 0 10px;
    margin: 0 5px;
    transition: background 0.4s linear;
    i{
        font-size: 1em;
    }
    p{
        font-weight: bold;
        overflow: hidden;
        max-width: 0;
        font-size: 12px;
    }
  }
  .tab-active{
    background-color: #59b3fa;
    color: white;
  }